<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="/static/assets/pnf-header.png" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <p class="text-center">Sorry the page you were looking for could not be found.</p>
        <p class="text-center">{{suggestedFix}} <a href="{{suggestedLink}}">here.</a></p>
    </div>
</div>