<img src="/static/assets/logo.png" class="img-fluid">

<div class="row">
  <div class="col-md-6">
    <div class="card d-flex justify-content-center">
      <div class="card-body">
        <h5 class="card-title">New User</h5>
        <h6 class="card-subtitle mb-2 text-muted">Getting started</h6>
        <p class="card-text">To get started click the link below to set up a new account with us.</p>
        <a href="/register" class="card-link">Register</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card d-flex justify-content-center">
      <div class="card-body">
        <h5 class="card-title">Returning User</h5>
        <h6 class="card-subtitle mb-2 text-muted">Welcome back</h6>
        <p class="card-text">For returning users please login below to unlock all features. Click the
          second link if you are having trouble logging in.
        </p>
        <a href="/login" class="card-link">Login</a>
        <a href="#" class="card-link text-muted">Get Help</a>
      </div>
    </div>
  </div>
</div>


<article>
  <h2> Overview</h2>
  <p>Due to the technological trend encouraged by the current pandemic situation, online shopping
    is becoming a viable mainstream option over conventional brick-and-mortar stores. However, over the
    years, many small to big businesses have also integrated into using an online platform. The
    introduction of many avenues of spending makes it complicated to keep track of purchases across many
    different online stores and to have an overall picture of your spendings. Our application offers features for
    users to record their expenditures and to get an overview of their personalized spending trends. </p>
  <p>The important features are the following:</p>
  </br>

  <h4>Expense Recording Tool</h4>

  <p>The user can record their monthly expenses and visualize them in a table format. The user can create
    an expense table. An expenses information such as descriptions, expense amount, images etc. can be added to the
    table. Each expense record can be deleted and modified at any time. Furthermore, total expense is calculated
    everytime
    a new expense is added. The total expense will be always viewable on the expense table to encourage the user to
    not overspend.</p>

  </br>
  <h4>Bill Payment Scheduling Tool</h4>

  <p>This feature allows the user to schedule and add notes about each bill payments. The user will be able
    to keep track of all their bill payments.</p>
</article>